<html>
    <head>
        <title>{{ title }}</title>

        <link rel="stylesheet" href="/static/styles.css">
        <link rel="stylesheet" href="/static/jquery.datepick.css">

        <script type="text/javascript" src="/static/jquery.min.js"></script>
        <script type="text/javascript" src="/static/jquery.datepick.js"></script>
        <script type="text/javascript" src="/static/highcharts.js"></script>

        %extra_head()
    </head>

    <body>
        <h1>{{ title }}</h1>

        %include
    </body>
</html>